<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JS*2 Gradebook</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('l=dashboard')}}">Dashboard</a></li>
                <li><a href="{{url_for('class')}}">Class</a></li>
                <li><a href="{{url_for('student')}}">Student</a></li>
                <li><a href="{{url_for('gradebook')}}">Gradebook</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('logout')}}">Log out</a></li>
                        <li><a href="{{url_for('changePassword')}}">Change password</a></li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Log in</a></li>
                    {% endif %}
            </ul>
{% block body %}{% endblock %}
</body>
</html>