<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">JS*2 Gradebook</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('dashboardView')}}">Dashboard</a></li>
                <li><a href="{{url_for('classView')}}">Class</a></li>
                <li><a href="{{url_for('studentView')}}">Student</a></li>
                <li><a href="{{url_for('gradebookView')}}">Gradebook</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li><a href="{{url_for('logout')}}">Log out</a></li>
                        <li><a href="{{url_for('changePassword')}}">Change password</a></li>
                    {% else %}
                        <li><a href="{{url_for('login')}}">Log in</a></li>
                    {% endif %}
            </ul>
        </div>
    </nav>
{% block body %}{% endblock %}
</body>
</html>