{% extends "loginBase.html" %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#changePasswordForm').on('submit', function(e){
                e.preventDefault();
                if ($('#nPassword').length < 7){
                    alert('Password must be at least 7 characters');
                } else if ($('#nPassword') != $('#n2Password')){
                    alert('Passwords do not match, please retry');
                } else {
                    $.post("/changePassword",
                           $('#changePasswordForm').serialize(), 
                           function(data){
                            if (data.pwError == true){
                                alert("Current password entered does not match password on file, please try again'";
                            } else {
                                alert("Password changed successfully.")
                            }

                    })

                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>JS2 Gradebook</h1>
    </div>
    <div class="container">
        <form action="/changePassword" method="POST" name="changePasswordForm">
            <div class="form-group">
                <label for="password">Change Password</label>
                <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="Enter Current Password">
                <input type="password" class="form-control" id="nPassword" name="npassword" placeholder="Enter New Password">
                <input type="password" class="form-control" id="n2Password" name="n2password" placeholder="Please Re-enter Password">
               <small id="emailHelp" class="form-text text-muted">**Never share your username and password with anyone.</small>
            </div>
          <div class="form-group form-check">
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
          {% if error %}
              <div class="aler alert-warning" role="alert">
              Incorrect Current password, please try again.
              </div>
          {% endif %}
        </form>
    </div>
{% endblock %}