{% extends "loginBase.html" %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#changePasswordForm').on('submit', function(e){
                e.preventDefault();
                if ($('#nPassword')[0].value.length < 7){
                    alert('Password must be at least 7 characters');
                } else if ($('#nPassword')[0].value != 
                           $('#n2Password')[0].value) {
                    alert('Passwords do not match, please retry');
                } else {
                    $.post("/changePassword",
                           $('#changePasswordForm').serialize(), 
                           function(response){
                            if (response.pwError == true){
                                alert("Current password entered does not match password on file, please try again");
                            } else {
                                alert("Password changed successfully.");
                                window.location.replace("https://is668projectgradebook.pythonanywhere.com/");
                            }

                    })

                }
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>JS2 Gradebook</h1>
    </div>
    <div class="container">
        <form action="/changePassword" method="POST" id="changePasswordForm">
            <div class="form-group">
                <label for="password">Change Password</label>
                <input type="password" class="form-control" id="cPassword" name="cPassword" placeholder="Current-Password">
                <input type="password" class="form-control" id="nPassword" name="nPassword" placeholder="New-Password">
                <input type="password" class="form-control" id="n2Password" name="n2Password" placeholder="New-Password">
               <small id="emailHelp" class="form-text text-muted">**Never share your username and password with anyone.</small>
            </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}