{% extends "homebase.html" %}
{% block hometitle %}Contact Information{% endblock %}
{% block pagebody %}
    <div class="pagetitle">
        <div class="container-fluid">
            <div class="navbar-header">
              <h1>Contact Information</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                <h5 class="card-title">Telephone</h5>
                <p class="card-text"> 410-828-6362</p>
                <a href="https://www.umbc.edu/search/directory/"target="_blank"" class="btn btn-primary">More Contacts</a>
                </div>
                </div>
            </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">Feel free to email the JS*2 Team.</p>
            <a href="mailto:dg89092@umbc.edu,johnsu1@umbc.edu" class="btn btn-primary">Email Us</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}