{% extends "basePage.html" %}
{% block css %}
    <link rel="stylesheet" href="/static/css/gradebook.css">
{% endblock %}
{% block js %}
    <script src="/static/js/gradebook.js"></script>
{% endblock %}
{% block body %}
<div class="hover_bkgr_fricc">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <div class="formContent">
        {% block formContent %}{% endblock %}
        </div>
    </div>
</div>
{% block pagebody %}{% endblock %}
{% endblock %}