{% extends "basePage.html" %}
{% block title %}Gradebook{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var origData = {};
            $('#gradebookTable tr').each(function() {
                $(this).find("input").each(function() {
                    if ($(this).attr('name').slice(0,5) == 'grade') {
                            var assign_grade_id = $(this).attr('name').slice(6);
                            var value = $(this).val();
                        origData[assign_grade_id] = value;
                    }
                });
            });
            console.log(origData); 
            var table = $('#gradebookTable').DataTable();
            $('td:nth-child(1), th:nth-child(1)').hide();
            $('#gradebookForm').on('submit', function(e){
                e.preventDefault();
                var newData = [];
                var submitData = {};
                $('#gradebookTable tr').each(function() {
                    $(this).find("input").each(function() {
                        if ($(this).attr('name').slice(0,5) == 'grade') {
                            var assign_grade_id = $(this).attr('name').slice(6);
                            var value = $(this).val();
                            newData.push({[assign_grade_id]: value});
                        }
                    });
                });
                $(newData).each(function(i, v) {
                    var key = Object.keys(v)[0];
                    console.log(origData[key]);
                    if(origData[key] != v[key]) {
                        submitData[key] = v[key];
                    }
                });
                console.log(submitData);
                console.log(newData);

                console.log($(this).serialize());
            });
        });
    </script>
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Gradebook For {{classData.class_name}}: {{classData.class_semester}}, {{classData.class_year}}</h1>
    </div>
    <div class="container">
        <form class="form-horizontal" name="gradebookForm" id="gradebookForm" action="/gradebook" method="PUT">
            <table id="gradebookTable" data-classes="table table-hover table-condensed" data-toggle="table" data-sort-name="student_name" data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field="student_id" data-sortable="false">
                            Student Id
                        </th>
                        <th data-field="studentName" data-sortable="false">
                            Student Name
                        </th>
                        {% for header in headerList %}
                            <th data-field="{{header.name}}" value="{{header.id}}"data-sortable="true">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Due Date: {{header.dueDate}}">{{header.name}}</a>
                            </th>
                        {% endfor %}
                        <th data-field="totalScore" data-sortable="true">
                            Total Score
                        </th>
                        <th data-field="maxPoints" data-sortable="true">
                            Total Possible Points
                        </th>
                        <th data-field="gradePercent" data-sortable="true">
                            Percentage
                        </th>
                        <th data-field="letterGrade" data-sortable="true">
                            Letter Grade
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in studentList %}
                        <tr>
                            <td name="student_id" value="{{student.student_id}}"></td>
                            <td>
                                {{student.name}}
                            </td>
                            {% for score in student.scores %}
                                <td>
                                    <input name="grade,{{score.assign_grade_id}}" type="number" value="{{score.assign_score}}">
                                </td>
                            {% endfor %}
                            <td name="totalPoints">
                                {{student.totalPoints}}
                            </td>
                            <td name="totalScore">
                                {{student.studentScore}}
                            </td>
                            <td name="gradePercent">
                                {{student.gradePercent}}%
                            </td>
                            <td name="letterGrade">
                                {{student.letterGrade}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" value="{{classData.class_id}}" name="classId">
            <button type="submit" class="btn btn-primary" name="send" value="UpdateGrades">Update Grades</button>
        </form>
    </div>
{% endblock %}