{% extends "basePage.html" %}
{% block title %}Gradebook{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var table = $('#gradebookTable').DataTable();
        });
    </script>
{% endblock %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Gradebook For {{classData.class_name}}: {{classData.class_semester}}, {{classData.class_year}}</h1>
    </div>
    <div class="container">
        <form class="form-horizontal" name="gradebookForm" id="gradebookForm" action="/gradebook" method="POST">
            <table id="gradebookTable" data-classes="table table-hover table-condensed" data-toggle="table" data-sort-name="student_name" data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-field="student_id" data-sortable="false">Student Id</th>
                        <th data-field="studentName" data-sortable="false">Student Name</th>
                        {% header in headerList %}
                            <th data-field="{{header.name}}" value="{{header.id}}"data-sortable="true">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="{{header.dueDate}}">{{header.name}}</a>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for student in studentList %}
                        <tr>
                            <td name="student_id" value="{{student.student_id}}">
                                {{student.name}}
                            </td>
                            {% key, value in scores.iteritems() %}
                            <td name="{{key}}">
                                <input type="number" value="{{value}}">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" value="{{classData.class_id}}" name="classId">
            <button type="submit" class="btn btn-primary" name="send" value="UpdateGrades">Update Grades</button>
        </form>
    </div>
{% endblock %}