{% extends "basePage.html" %}
<!-- dashboard navbar -->
{% block title %}{% block hometitle %}{% endblock %}{% endblock %}
{% block body %}
<div class="container-fluid">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
		<a class="nav-link active" href="/">Home</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="https://is668projectgradebook.pythonanywhere.com/contact_information">Contact Information</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="https://is668projectgradebook.pythonanywhere.com/training">Training Guides</a>
	  </li>
	</ul>
</br>
</div>

{% block pagebody %} {% endblock %}
{% endblock %}
