{% extends "homebase.html" %}
{% block hometitle %}Home{% endblock %}
{% block pagebody %}
<div id="pagetitle-fluid background-color: ">
	<h1>Welcome to JS2 Gradebook</h1>
</div>

<div class="container">
<div class="card mb-3">
  <img src="/static/images/homepgbg.jpg" class="card-img-top" alt="/static/images/homepgbg.jpg">
  <div class="card-body">
	<h5 class="card-title">Gradebook Information: </h5>
    <p class="card-text">The JS2 Gradebook was build to help teachers and student enter and review grades.  </p>
    <h5 class="card-title">School News: </h5>
    <p class="card-text">UMBC is a great place to advance your education.  Sign up today!</p>
	</br>
	<h5 class="card-title">News and Information: </h5>
    <p class="card-text">No more TEST!  </p>
	<p> Project is due:  May 22, 2019. </p>
	<p> All grades submitted by June 1, 2019.
    <p class="card-text"><small class="text-muted">Last updated April 28, 2019</small></p>
  </div>
</div>
</div>

{% endblock %}
