{% extends "basePage.html" %}
{% block title %}Home{% endblock %}

<!-- dashboard navbar -->
<div class="container-fluid">
	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
		<a class="nav-link active" id="home-tab" data-toggle="tab" href="/" role="tab" aria-controls="home" aria-selected="true">Home</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" id="contact-tab" data-toggle="tab" href="https://is668projectgradebook.pythonanywhere.com/contact_information/" role="tab" aria-controls="contact" aria-selected="false">Contacts</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" id="guides-tab" data-toggle="tab" href="https://is668projectgradebook.pythonanywhere.com/training/" role="tab" aria-controls="help" aria-selected="false">Training Guides</a>
	  </li>
	</ul>
</div>
{% block nav %} {% endblock %}
{% endblock %}
