{% extends "formPopup.html" %}
{% block title %}Students{% endblock %}
    {% block formContent %}
    <form id="studentInfo" action="/student" method="POST" target="_self">
        First Name <input type="text" name="first_name" required="True" value={{studentData.first_name | replace("None","")}}><br>
        Last Name<input type="text" name="last_name" required="True" value={{studentData.last_name | replace("None","")}}><br>
        Major <select name="major_id"><br>
                {% for major in majorData %}
                    {% if studentData.major_id == major.id %}
                        <option value={{major.major_id}} selected>{{major.major_name}}</option>
                    {% else %}
                        <option value={{major.major_id}}>{{major.major_name}}</option>
                    {% endif %}
                {% endfor %}
                </select><br>
        Email <input type="text" name="email_address" required="True" value={{studentData.email_address | replace("None","")}}><br>
        <input type="submit"><br>
    </form>
    {% endblock %}
{% block pagebody %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Major</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>{{student.student_id}}</td>
                        <td>{{student.first_name}}</td>
                        <td>{{student.last_name}}</td>
                        <td>{{student.email_address}}</td>
                        <td>{{student.majors.major_name}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a class="trigger_popup_fricc">Add New Student</a>
{% endblock %}