<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Training Guides</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https:0//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    </head>
    <body>

    <div class="jumbotron">
        <div class="container-fluid">
            <div class="navbar-header">
              <h1 class:"display-4">Training Guides</h1>
            </div>
        </div>
    </div>
<div class="container">
	<p>Please click on the buttons below to access the appropiate training guide.</p>
	<a class="btn btn-primary" href="/add%20a%20student.pdf" role="button">Add A Student</a>
</div>
    </body>
</html>