{% extends "homebase.html" %}
{% block hometitle %}Training{% endblock %}
{% block pagebody %}
   <div class="pagetitle">
       <div class="navbar-header">
              <h1>Training Guides</h1>
       </div>
    </div>
</br>
<div class="container">
	<p>Please click on the buttons below to access the appropriate training guide.</p>

    <a class="btn btn-primary" href="/static/pdfs/Class.pdf" target="_blank" role="button">Navigate the Class Page</a>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
       <img src="/static/images/class.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Student</h5>
        <p class="card-text">Please review for assistance navigating the student page.</p>
        <a href="/static/pdfs/student.pdf" class="btn btn-primary">Navigating Student Page</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
          <img src="/static/images/classroom.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Class</h5>
        <p class="card-text">Review for assistance navigating the Class page.</p>
        <a href="/static/pdfs/Class.pdf" class="btn btn-primary">Navigating Class Page</a>
      </div>
    </div>
  </div>
</div>



    </br>
 {% endblock %}