{% extends "homebase.html" %}
{% block hometitle %}Training{% endblock %}
{% block pagebody %}
   <div class="pagetitle">
       <div class="navbar-header">
              <h1>Training Guides</h1>
       </div>
    </div>
</br>
<div class="container">
	<p>Please click on the buttons below to access the appropriate training guide.</p>
	<a class="btn btn-primary" href="/static/pdfs/student.pdf" target="_blank" role="button">Navigate the Student Page</a>
    <p>
    </p>
    <a class="btn btn-primary" href="/static/pdfs/Class.pdf" target="_blank" role="button">Navigate the Class Page</a>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Navigate the Student Page</h5>
        <a href="/static/pdfs/student.pdf" class="btn btn-primary">Navigate the Student Page</a>
  </div>
</div>
</div>
</br>
 {% endblock %}